.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color: deepskyblue;
    font-size: xxx-large;
}
table{
    margin-top: 10px;
}
th{
    background-color: violet;
    border: solid 1px;
    font-size: large;
    padding: 2px;
}
tr{
    border: solid 1px;
    border-collapse: collapse;
}
td{
    background-color: whitesmoke;
    border: solid 1px;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;

}
form{
    background-color: deepskyblue;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: solid 2px;

}
input{
    margin-top: 10px;
    margin-right: 10px;
}